{% extends '::base.html.twig' %}

{% block body -%}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            {{ "inflexion_info" | trans}} {{ inflection.content }}
            <span class="pull-right">
                <a class="btn btn-default" href="{{ path('add-to-wordbox', {"id":  inflection.lemma.id }) }}">{{ "add_to_wordbox" | trans}}</a>
            </span>
        </h4>
    </div>
    <div class="panel-body">
        <h2>{{ "lemma" | trans}}</h2>
        <a href="{{ path('lemma', {"id":  inflection.lemma.id}) }}">{{ inflection.lemma.content }}</a>

        <h2>{{ "cleaned_content" | trans}}</h2>
        {{ inflection.cleanedContent ?  inflection.cleanedContent : "-" }}

        <h2>{{ "phonetic" | trans}}</h2>
        {{ inflection.phonetic1 }} - {{ inflection.phonetic2 }}

        <h2>{{ "person" | trans}}</h2>
        {{ inflection.person ? inflection.person.value : "-" }}

        <h2>{{ "gender" | trans}}</h2>
        {{ inflection.gender ? inflection.gender.value : "-" }}

        <h2>{{ "tense" | trans}}</h2>
        {{ inflection.tense ? inflection.tense.value : "-" }}

        <h2>{{ "mood" | trans}}</h2>
        {{ inflection.mood ? inflection.mood.value : "-" }}
    </div>
</div>
{% endblock %}
