{% extends '::base.html.twig' %}

{% block body -%}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            {{ "lemma_info" | trans}} <strong>{{ lemma.content }}</strong>
            <span class="pull-right">
                {% if isInWordbox(lemma) == false %}
                <a class="btn btn-default" href="{{ path('add-to-wordbox', {"id":  lemma.id }) }}">{{ "add_to_wordbox" | trans}}</a>   
                {% endif %}
                {% include "MagicWordBundle:Common:backtohome.html.twig" %}
            </span>
        </h4>
    </div>
    <div class="panel-body">
        <h3>{{ "phonetic" | trans}}</h3>
        {{ lemma.phonetic1 }} - {{ lemma.phonetic2 }}

        <h3>{{ "gender" | trans}}</h3>
        {{ lemma.gender ? lemma.gender.value | trans : "-" }}

        <h3>{{ "category" | trans}}</h3>
        {{ lemma.category ? lemma.category.value | trans : "-" }}

        <h3>{{ "subcategory" | trans}}</h3>
        {{ lemma.subcategory ? lemma.subcategory.value | trans : "-" }}
    </div>
</div>
{% endblock %}
