{% extends '::base.html.twig' %}

{% block body -%}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            {% include "MagicWordBundle:Common:backtohome.html.twig" %}
            {{ 'profile_of' | trans }} {{ user.username }}
            <span class="pull-right">
                {% if user == app.user %}
                    <a class="btn btn-default" href="{{ path('profile_edit') }}">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        {{ 'edit_profile' | trans }}
                    </a>
                {% elseif user in app.user.friends %}
                    <a class="btn btn-default" href="{{ path('remove_friend', {"id":  user.id}) }}">{{ 'remove__from_friends' | trans }}</a>
                {% else %}
                    <a class="btn btn-default" href="{{ path('add_friend', {"id":  user.id}) }}">{{ 'add_to_friends' | trans }}</a>
                {% endif %}
            </span>
        </h4>
    </div>
    <div class="panel-body">
    {% if user.profilepicPath %}
        <img height="200px" src="{{ asset('upload/profilepic/' ~ user.profilepicPath) }}"/>
        <hr/>
    {% endif %}
    {% if user.profileText %}
    <i class="fa fa-quote-left" aria-hidden="true"></i>
    {{ user.profileText }}
    <i class="fa fa-quote-right" aria-hidden="true"></i>
    {% endif %}
    </div>
</div>
{% endblock %}
