<div class="panel panel-default">
    <div class="panel-heading">
        Liste des formes ({{ foundableForms | length }})
    </div>
    <ul class="list-group" style="max-height:400px; overflow-y:scroll">
        {% for foundableForm in foundableForms %}
            <li class="list-group-item">
                <span class="btn btn-default btn-xs" onClick="wiktionnary.getDef('{{ foundableForm.inflections[0].lemma.content }}', '{{ foundableForm.grid.language.name |slice(0,2) }}')">
                    <i class="fa fa-wikipedia-w" aria-hidden="true"></i>
                </span>
                {{ foundableForm.form }}
                <span class="text-muted">
                    ({{ foundableForm.points }}pts)
                </span>
                {% if btn %}
                <span class="btn btn-default btn-xs pull-right" onclick="findwords.addInflection('{{ foundableForm.form }}')">
                    <i class="fa fa-plus" aria-hidden="true"></i> {{ 'add_to_findwords' | trans }}
                </span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>

{% block javascripts -%}
<script type="text/javascript" src="{{ asset('/js/translations.js')}}"></script>
{% endblock %}
