{% set logged = app.user is not null ? true : false %}
{% set generalParameters = getGeneralParameters() %}

<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta charset="UTF-8"/>
        <title>
            {% block title %}MAGIC WORD{% endblock %}
        </title>
        <link rel="stylesheet" href="{{ asset('/css/main.css')}}" type="text/css"/>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        {% if generalParameters.piwikUrl %}
        <!-- Piwik -->
        <script type="text/javascript">
          var _paq = _paq || [];
          /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u="//{{ generalParameters.piwikUrl }}/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '1']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
          })();
        </script>
        <!-- End Piwik Code -->
        {% endif %}
    </head>
    <body>
        {% block topToHideWhilePlaying %}
        <a href="{{ path('home') }}">
            <div id="header-logo">
            </div>
        </a>
        <div class="header-buttons">
            <div class="btn-group-sm btn-group-vertical">
            {% if logged %}
                <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-sm">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <span class="hidden-xs">{{ 'logout' | trans }}</span>
                </a>
            {% else %}
                {% if getGeneralParameters().selfRegistration %}
                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-default btn-sm">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                    <span class="hidden-xs">{{ 'register' | trans }}</span>
                </a>
                {% endif %}
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-default btn-sm">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    <span class="hidden-xs">{{ 'login' | trans }}</span>
                </a>
            {% endif %}
        </div>
    </div>
        {% endblock %}
        <div class="container">
            {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    <div class="alert alert-{{ label }}" role="alert">
                        {{ flash }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}
        </div>
        {% block bottomToHideWhilePlaying %}
        <div id="footer">
            Powered by Innovalangues.
        </div>
        {% endblock %}

        <div class="modal fade" data-keyboard="false" data-backdrop="static" id="please-wait" tabindex="-1" role="dialog" aria-labelledby="please-wait">
            <div class="vertical-alignment-helper">
                <div class="modal-dialog vertical-align-center" role="document">
                    <div class="modal-content">
                        <div class="modal-body noselect">
                            <img src="{{ asset('/img/squares.gif')}}"/>
                            <h3 id="please-wait-message"></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="info-modal">
            <div class="vertical-alignment-helper">
                <div class="modal-dialog vertical-align-center" role="document">
                    <div class="modal-content">
                        <div class="modal-body noselect">
                            <h3 id="info-modal-message"></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="users-device-size">
          <div id="xs" class="visible-xs"></div>
          <div id="sm" class="visible-sm"></div>
          <div id="md" class="visible-md"></div>
          <div id="lg" class="visible-lg"></div>
        </div>


        <script type="text/javascript" src="{{ asset('/js/translations.js')}}"></script>
        <script type="text/javascript" src="{{ asset('/js/main.js')}}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
