{% set scores = getScores(massive) %}

<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-bordered table-striped">
            <thead>
                <th>{{ "rank" | trans }}</th>
                <th>{{ "player" | trans }}</th>
                <th>{{ "score" | trans }}</th>
                {% for i, round in massive.rounds %}
                <th>{{ "round" | trans }} {{ i }}</th>
                {% endfor %}
            </thead>
            <tbody>
                {% for i, score in scores %}
                <tr {{ app.user == score.player ? "class='success'": ""}}>
                    <td>{{ i }}</td>
                    <td>{{ score.player }}</td>
                    <td>{{ score.points }}</td>
                    {% for i, activity in score.activities %}
                    <td>{{ activity.points }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
