{% import "MagicWordBundle:FoundableForm:macros.html.twig" as foundableMacros %}
{% import "MagicWordBundle:Objective:macros.html.twig" as objectiveMacros %}

{% for round in massive.rounds %}
    {% set activities = getActivities(round) %}
    <div class="panel panel-default">
        <div class="panel-heading">
             {{ round.displayOrder+1 }} {{ round.title }} - {{ round.discr | trans }}
             <span class="pull-right">
                <button type="button" class="btn btn-default btn-xs" data-order="asc" onclick="sorter.sort('percent', this, '#round-{{round.id}}', '#round-{{round.id}} div.sortable')">
                    <i class="fa fa-sort" aria-hidden="true"></i> %
                </button>
                {% if round.discr == "rush" %}
                <button type="button" class="btn btn-default btn-xs" data-order="asc" onclick="sorter.sort('form', this, '#round-{{round.id}}', '#round-{{round.id}} div.sortable')">
                    <i class="fa fa-sort" aria-hidden="true"></i> A-Z
                </button>
                <button type="button" class="btn btn-default btn-xs" data-order="asc" onclick="sorter.sort('points', this, '#round-{{round.id}}', '#round-{{round.id}} div.sortable')">
                    <i class="fa fa-sort" aria-hidden="true"></i> Points
                </button>
                <button type="button" class="btn btn-default btn-xs" data-order="asc" onclick="sorter.sort('length', this, '#round-{{round.id}}', '#round-{{round.id}} > div.sortable')">
                    <i class="fa fa-sort" aria-hidden="true"></i> Longueur
                </button>
                {% endif %}
             </span>
        </div>
        <div class="panel-body" style="max-height:200px; overflow-y:auto">
            <div id="round-{{round.id}}">
                {% if round.discr == "rush" %}
                    {% for foundable in round.grid.foundableForms %}
                        {{ foundableMacros.foundableShort(foundable, activities) }}
                    {% endfor %}
                {% elseif round.discr == "conquer" %}
                    {% for objective in round.objectives %}
                        {{ objectiveMacros.objectiveShort(objective, activities) }}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
