<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             {{ activity.foundForms|length}} {{ "forms_found" | trans }}
                        </div>
                    </div>
                    <div class="columns">
                    {% for foundable in activity.foundForms %}
                    {{ _self.foundable(foundable, activity, activities, "found", roundType) }}
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{round.grid.foundableForms|length}} {{ "existing_forms" | trans }}
                        </div>
                    </div>
                    <div class="columns">
                    {% for foundable in round.grid.foundableForms %}
                    {{ _self.foundable(foundable, activity, activities, "foundable", roundType) }}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="wiktionnary" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ "definition" | trans }} <strong id="wiktionnary-title"></strong></h4>
      </div>
      <div id="wiktionnary-body" class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% macro percent(foundable, activities) %}
    {% set found = 0 %}
    {% for a in activities %}
        {% if foundable in a.foundForms %}
            {% set found = found + 1 %}
        {% endif %}
    {% endfor %}
    {{ ((found / activities|length) * 100)| round }}%
{% endmacro %}

{% macro foundable(foundable, activity, activities, type, roundType) %}
<div class="panel panel-default">
    <div class="panel-heading " role="tab">
        <h4 class="panel-title {% if foundable in activity.foundForms and type == "foundable" %}bg-success{% endif %} ">
             <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ foundable.id ~ type}}" aria-expanded="true" aria-controls="{{ foundable.id }}">
                 {{ foundable.form | upper }} <span class="text-muted">({{ foundable.points}})</span>
                 {% if roundType != "training" %}
                 <span class="pull-right">
                    <span class="label label-default">{{ _self.percent(foundable, activities)  }}</span>
                 </span>
                 {% endif %}
            </a>
        </h4>
    </div>
    <div id="{{ foundable.id  ~ type }}" class="panel-collapse collapse" role="tabpanel">
        <div class="list-group" >
            {% for inflection in foundable.inflections %}
            <li class="list-group-item">
                {{ inflection.content }}
                ({{ inflection.lemma.content }} - <span class="text-muted">{{ inflection.lemma.category ? inflection.lemma.category.value | trans }}</span>)
                <span class="pull-right">
                    <span class="btn btn-default btn-xs" onClick="wiktionnary.getDef('{{ inflection.lemma.content }}')">
                        <i class="fa fa-wikipedia-w" aria-hidden="true"></i>
                    </span>
                    <span class="btn btn-default btn-xs" onclick="addToWordbox({{ inflection.lemma.id }}, this);">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        {{ "add_to_wordbox_short" | trans}}
                    </span>
                </span>
            </li>
            {% endfor %}
        </div>
    </div>
</div>
{% endmacro %}
