<div class="panel panel-default">
    <div class="panel-body">
    <div class="row">
    <div class="col-md-6">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading">
                     {{ activity.foundForms|length}} {{ "forms_found" | trans }}
                </div>
            </div>
            {% for foundable in activity.foundForms %}
                {% set found = 0 %}
                {% for a in activities %}
                    {% if foundable in a.foundForms %}
                        {% set found = found + 1 %}
                    {% endif %}
                {% endfor %}
                {% set percent = (found / activities|length) * 100 %}

            <div class="panel panel-default">
                <div class="panel-heading " role="tab" id="headingOne">
                    <h4 class="panel-title {% if foundable in activity.foundForms %}bg-success{%else%}bg-danger{% endif %} ">
                         <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ foundable.id }}" aria-expanded="true" aria-controls="{{ foundable.id }}">
                             {{ foundable.form |upper}} ({{ foundable.points}} pts)
                             <span class="label label-default pull-right">{{ percent }}%</span>
                        </a>
                    </h4>
                </div>
                <div id="{{ foundable.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="list-group" >
                        {% for inflection in foundable.inflections %}
                        <li class="list-group-item">
                            {{ inflection.content }}
                            ({{ inflection.lemma.content }} - <span class="text-muted">{{ inflection.lemma.category ? inflection.lemma.category.value }}</span>)
                            <span class="btn btn-default btn-xs" onclick="addToWordbox({{ inflection.lemma.id }})">{{ "add_to_wordbox" | trans}}</a>
                        </li>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{round.grid.foundableForms|length}} {{ "existing_forms" | trans }}
                </div>
            </div>
            {% for foundable in round.grid.foundableForms %}

            {% set found = 0 %}
            {% for a in activities %}
                {% if foundable in a.foundForms %}
                    {% set found = found + 1 %}
                {% endif %}
            {% endfor %}
            {% set percent = (found / activities|length) * 100 %}

            <div class="panel panel-default">
                <div class="panel-heading " role="tab" id="headingOne">
                    <h4 class="panel-title {% if foundable in activity.foundForms %}bg-success{%else%}bg-danger{% endif %} ">
                         <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ foundable.id }}" aria-expanded="true" aria-controls="{{ foundable.id }}">
                             {{ foundable.form |upper}} ({{ foundable.points}} pts)
                             <span class="label label-default pull-right">{{ percent }}%</span>
                        </a>
                    </h4>
                </div>
                <div id="{{ foundable.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="list-group" >
                        {% for inflection in foundable.inflections %}
                        <li class="list-group-item">
                            {{ inflection.content }}
                            ({{ inflection.lemma.content }} - <span class="text-muted">{{ inflection.lemma.category ? inflection.lemma.category.value }}</span>)
                            <span class="btn btn-default btn-xs" onclick="addToWordbox({{ inflection.lemma.id }})">{{ "add_to_wordbox" | trans}}</a>
                        </li>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
</div>
