<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-bordered table-striped">
            <thead>
                <th>{{ "rank" | trans }}</th>
                <th>{{ "player" | trans }}</th>
                <th>{{ "score" | trans }}</th>
                {% if round.discr == "conquer" %}
                <th>{{ "time" | trans }}</th>
                {% endif %}
                <th>{{ "forms_found_count" | trans }}</th>
            </thead>
            <tbody>
                {% for i, activity in activities %}
                <tr {{ app.user == activity.player ? "class='success'": ""}}>
                    <td>{{ i + 1 }}</td>
                    <td>{{ activity.player }}</td>
                    <td>{{ activity.points }}</td>
                    {% if round.discr == "conquer" %}
                    <td>{{ getTimeSpent(activity) }}</td>
                    {% endif %}
                    <td>{{ activity.foundForms | length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
