{% if hasObj %}
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading" style="background-color:#FF9C00">
            <h5>
                {{ 'objectives' | trans }}
                <span class="pull-right">
                     <span class="label label-default" id="obj-score">0</span> pts sur <span class="label label-primary">300</span>
                </span>
            </h5>
        </div>
        {% if round.findWords is not empty %}
        <ul class="list-group">
            <li href="#" class="list-group-item disabled">
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                {{ 'find_words' | trans }}
            </li>
            {% for findWord in round.findWords %}
            <li id="objective-findword-{{ findWord.id }}" class="list-group-item objective-{{ findWord.id }}">
                {{ findWord.hint }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if round.combos is not empty %}
        <ul class="list-group">
            <li href="#" class="list-group-item disabled">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
                {{ 'combos' | trans }}
            </li>
            {% for combo in round.combos %}
            <li id="objective-combo-{{ combo.id }}" class="list-group-item objective-{{ combo.id }}">
                <b>{{ combo.number }}</b> {{ 'combos__with_length' | trans }} <b>{{ combo.lenght }}</b>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="panel panel-default">
        <ul class="list-group">
            <li class="list-group-item list-group-item-danger" onclick="activity.end()">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    {{ 'give_up' | trans }}
                </span>
            </li>
        </ul>
    </div>
</div>


{% endif %}
