{% extends '::base.html.twig' %}

{% block title %}{{ 'games_ended' | trans }}{% endblock %}

{% block body -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                {{ 'games_ended' | trans }}
                <span class="pull-right">
                    {% include "MagicWordBundle:Common:backtohome.html.twig" %}
                </span>
            </h4>
        </div>
        <ul class="list-group">
            {% for game in games if game.discr == "massive"%}
            {{ _self.game_end_link(game) }}
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% macro game_end_link(game) %}
<li class="list-group-item">
    {% if game.discr == "massive" %}
        <span class="label label-primary">{{ "massive" | trans }}</span>
        <a href="{{ path('massive_end', {"id": game.id}) }}">
            {{ game.name }} <span class="text-muted">({{ game.description }})</span>
        </a>
    {% endif %}
</li>
{% endmacro %}
