{% extends '::base.html.twig' %}

{% block title %}{{ 'games_started' | trans }}{% endblock %}

{% block body -%}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            {{ 'games_started' | trans }}
            <span class="pull-right">
                {% include "MagicWordBundle:Common:backtohome.html.twig" %}
            </span>
        </h4>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% for game in games %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    {{ _self.game_name(game) }}
                    <span class="pull-right">
                        <a class="btn btn-default btn-xs" role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ game.id }}" aria-expanded="true" aria-controls="{{ game.id }}">
                            <i class="fa fa-info" aria-hidden="true"></i> Infos
                        </a>
                        {{ _self.game_play_link(game) }}
                    </span>
                </h4>
            </div>
            <div id="{{ game.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <ul class="list-group">
                    {% for i, round in game.rounds %}
                    <li class="list-group-item">
                        <span class="label label-default">{{ round.discr | trans }}</span>
                    {% set order = i + 1 %}
                    {{ round.title ? round.title : "round" | trans  ~ " " ~ order }}
                    {% if round.description %}<span class="text-muted">({{ round.description }})</span>{% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% macro game_play_link(game) %}
    {% if game.discr == "training" %}
         {% set url = path('round_play', {"id": game.rounds|first.id}) %}
    {% elseif  game.discr == "massive" %}
        {% set url = path('massive_play', {"id": game.id}) %}
    {% else %}
        {% set url = path('challenge_continue', {"id": game.id}) %}
    {% endif %}
    <a class="btn btn-default btn-xs" href="{{ url }}"><i class="fa fa-gamepad" aria-hidden="true"></i> Jouer</a>
</li>
{% endmacro %}

{% macro game_name(game) %}
    {% if game.discr == "training" %}
         <span class="label label-default">{{ "training" | trans }}</span>
    {% elseif game.discr == "massive" %}
        <span class="label label-primary">{{ "massive" | trans }}</span>
        {{ game.name }} {% if game.description %}<span class="text-muted">({{ game.description }})</span>{% endif %}
        par <a href="{{ path('profile', {"id":  game.author.id}) }}">{{ game.author }}</a>
    {% else %}
        {% set user = (game.challenged == app.user) ? game.author : game.challenged %}
        <span class="label label-success">{{ "challenge" | trans }}</span>
        avec <a href="{{ path('profile', {"id":  user.id}) }}">{{ user }}</a>
    {% endif %}
</li>
{% endmacro %}
