{% extends '::base.html.twig' %}

{% block body -%}
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    <i class="fa fa-gamepad" aria-hidden="true"></i>
                    {{ 'play' | trans }}
                </h4>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{ path('train') }}">{{ 'train' | trans }}</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('challenge') }}">{{ 'challenge' | trans }}</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('challenges_received') }}">{{ 'challenge_received' | trans }}</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('massives') }}">{{ 'massives' | trans }}</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                    {{ 'create' | trans }}
                </h4>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{ path('massive') }}">{{ 'new_massive' | trans }}</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('my_massives') }}">{{ 'edit_game' | trans }}</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    {{ 'me' | trans }} <span class="text-muted">({{app.user.username}})</span>
                </h4>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{ path('wordbox') }}">{{ 'wordbox' | trans }}</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('parameters') }}">{{ 'parameters' | trans }}</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('my_friends') }}">{{ 'my_friends' | trans }} ({{app.user.friends|length}})</a>
                </li>
            </ul>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    <i class="fa fa-users" aria-hidden="true"></i>
                    {{ 'online' | trans }}
                </h4>
            </div>
            <ul class="list-group">
                {% for user in get_connected(500) %}
                <li class="list-group-item">
                    <a href="{{ path('profile', {"id":  user.id}) }}">{{ user.username }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
