{% extends '::base.html.twig' %}

{% block body -%}
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    <i class="fa fa-gamepad" aria-hidden="true"></i>
                    {{ 'play' | trans }}
                </h4>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    {{ 'train' | trans }}
                    {% set languages = get_languages() %}
                    {% for language in languages %}
                    <a class="please-wait" data-message="Génération de la grille" href="{{ path('train', {id: language.id}) }}">
                        {{ language.name | trans }}
                    </a>
                    {% endfor %}
                </li>
                <li class="list-group-item">
                    <a href="{{ path('challenge') }}">{{ 'challenge_someone' | trans }}</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('massives') }}">{{ 'massives' | trans }}</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('games_started') }}">{{ 'games_started' | trans }}</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                    {{ 'create' | trans }}
                </h4>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{ path('massive') }}">{{ 'new_massive' | trans }}</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('my_massives_under_construction') }}">{{ 'my_massives_under_construction' | trans }}</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('my_massives_published') }}">{{ 'my_massives_published' | trans }}</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    {{ 'me' | trans }} <span class="text-muted">({{app.user.username}})</span>
                </h4>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    {{ 'wordbox' | trans }}
                    {% for language in languages %}
                    <a href="{{ path('wordbox', {id: language.id}) }}">
                        {{ language.name | trans }}
                    </a>
                    {% endfor %}
                </li>
                <li class="list-group-item">
                    <a href="{{ path('parameters') }}">{{ 'parameters' | trans }}</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('my_profile') }}">{{ 'my_profile' | trans }}</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('my_friends') }}">{{ 'my_friends' | trans }} ({{app.user.friends|length}})</a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('games_ended') }}">{{ 'rankings_and_stats' | trans }}</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li class="list-group-item">
                    <a href="{{ path('admin_index') }}">Administration</a>
                </li>
                {% endif %}
            </ul>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    <i class="fa fa-users" aria-hidden="true"></i>
                    {{ 'online' | trans }}
                </h4>
            </div>
            <ul class="list-group">
                {% for user in get_connected(500) %}
                <li class="list-group-item">
                    <a href="{{ path('profile', {"id":  user.id}) }}">{{ user.username }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
