{% set hasObj =  conquer.objectives|length > 0 ? true : false %}

<div class="panel panel-default">
    <div class="panel-heading">
        {{ 'objectives' | trans }}
        <span class="pull-right">
            <span class='btn btn-primary btn-xs' onclick="saveObjectives()">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                {{ 'save_objectives' | trans }}
            </span>
        </span>
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li role="presentation" class="active">
                <a href="#find-words-tab" aria-controls="find-words-tab" role="tab" data-toggle="tab">
                    <i class="fa fa-binoculars" aria-hidden="true"></i> {{ 'find_words' | trans }}
                </a>
            </li>
            <li role="presentation">
                <a href="#combos-tab" aria-controls="combos-tab" role="tab" data-toggle="tab">
                    <i class="fa fa-tachometer" aria-hidden="true"></i> {{ 'combos' | trans }}
                </a>
            </li>
            <li role="presentation">
                <a href="#constraints-tab" aria-controls="constraints-tab" role="tab" data-toggle="tab">
                    <i class="fa fa-map-o" aria-hidden="true"></i> {{ 'constraint' | trans }}
                </a>
            </li>
        </ul>
        <form class="form-inline" id="objectives">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active in fade" id="find-words-tab">
                    {% include "MagicWordBundle:Round/Conquer/Objective:findword.html.twig" %}
                </div>
                <div role="tabpanel" class="tab-pane fade" id="combos-tab">
                    {% include "MagicWordBundle:Round/Conquer/Objective:combo.html.twig" %}
                </div>
                <div role="tabpanel" class="tab-pane fade" id="constraints-tab">
                    {% include "MagicWordBundle:Round/Conquer/Objective:constraint.html.twig" %}
                </div>
            </div>
            {{ form_widget(form._token) }}
        </form>
    </div>
</div>

{# GRID + INFLECTIONS #}
<div class="row">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ 'grid' | trans }}
                <span class="pull-right">
                    <span class="btn btn-default btn-xs" onclick="gridHandler.autofill()">
                        <i class="fa fa-magic" aria-hidden="true"></i>
                        {{ 'autofill_grid' | trans }}
                    </span>
                    <span class="btn btn-default btn-xs" onclick="generate()">
                        <i class="fa fa-cogs" aria-hidden="true"></i>
                        {{ 'generate_grid' | trans }}
                    </span>
                    <span class='btn btn-primary btn-xs' onclick="save()">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        {{ 'save_grid' | trans }}
                    </span>
                </span>
            </div>
            <div class="panel-body">
                <form id="grid" method="POST">
                    <div id="result">
                        {% set grid = conquer.grid %}
                        {% include "MagicWordBundle:Round/Conquer:grid.html.twig" %}
                    </div>
                    <input id="conquerId" type="hidden" name="conquerId" value="{{ conquer.id }}"/>
                    <input id="languageId" type="hidden" name="language" value="{{ conquer.game.language.id }}">
                </form>
            </div>
        </div>
    </div>
    <div id="foundables" class="col-md-7">
    {% if grid.foundableForms is defined  %}
    {% include 'MagicWordBundle:Round/Conquer/Objective:possible-inflections.html.twig' with {'foundableForms': grid.foundableForms } %}
    {% endif %}
    </div>
</div>

{% include "MagicWordBundle:Round/Conquer/Objective:helper-combos.html.twig" %}
