{% extends '::base.html.twig' %}

{% block title %}END ROUND{% endblock %}

{% block body -%}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            Récapitulatif manche {{ round.displayOrder + 1 }} / {{ round.game.rounds|length}} - {{ round.game.discr | trans }}
            <span class="pull-right">
                {% include "MagicWordBundle:Round/End:next-"~round.game.discr~".html.twig" %}
            </span>
        </h4>
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li role="presentation" class="active">
                <a href="#foundables" aria-controls="foundables" role="tab" data-toggle="tab">
                {{ "foundables"|trans}} ({{ activity.foundForms|length}} / {{round.grid.foundableForms|length}})
                </a>
            </li>
            {% if round.getObjectives() is defined %}
            <li role="presentation">
                <a href="#objectives" aria-controls="objectives" role="tab" data-toggle="tab">
                {{ "objectives"|trans}} ({{ activity.objectivesDone|length }} / {{ activity.round.objectives|length }})
                </a>
            </li>
            {% endif %}
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="foundables">
                {% include "MagicWordBundle:Round/End:foundable.html.twig" %}
            </div>
            {% if round.getObjectives() is defined %}
            <div role="tabpanel" class="tab-pane fade" id="objectives">
                {% include "MagicWordBundle:Round/End:objectives.html.twig" %}
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
