{% extends '::base.html.twig' %}

{% block title %}END ROUND{% endblock %}

{% block body -%}

{% set activities = getActivities(round) %}
{% set roundType = round.game.discr %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            Récapitulatif manche {{ round.displayOrder + 1 }} / {{ round.game.rounds|length}} - {{ roundType | trans }}
            <span class="pull-right">
                {% include "MagicWordBundle:Round/End:next-"~roundType~".html.twig" %}
            </span>
        </h4>
    </div>
    <div class="panel-body">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-4">
                {% include "MagicWordBundle:Round/End:grid.html.twig" %}
                </div>
                <div class="col-md-8">
                {% include "MagicWordBundle:Round/End:summary.html.twig" %}
                </div>
            </div>
        </div>

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#foundables" aria-controls="foundables" role="tab" data-toggle="tab">
                {{ "foundables"|trans}}
                </a>
            </li>
            {% if round.getObjectives() is defined %}
            <li role="presentation">
                <a href="#objectives" aria-controls="objectives" role="tab" data-toggle="tab">
                {{ "objectives"|trans}} ({{ activity.objectivesDone|length }} / {{ activity.round.objectives|length }})
                </a>
            </li>
            {% endif %}
            {% if roundType != "training" %}
            <li role="presentation">
                <a href="#ranking" aria-controls="ranking" role="tab" data-toggle="tab">
                {{ "ranking"|trans }}
                </a>
            </li>
            {% endif %}
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="foundables">
                {% include "MagicWordBundle:Round/End:foundable.html.twig" %}
            </div>
            {% if round.getObjectives() is defined %}
            <div role="tabpanel" class="tab-pane fade" id="objectives">
                {% include "MagicWordBundle:Round/End:objectives.html.twig" %}
            </div>
            {% endif %}
            <div role="tabpanel" class="tab-pane fade in" id="ranking">
                {% include "MagicWordBundle:Round/End:ranking.html.twig" %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
