{% extends '::base.html.twig'%}

{% block title %}PLAY ROUND{% endblock %}
{% block toHideWhilePlaying %}{% endblock %}

{% block body -%}

{% set hasObj = (round.objectives is defined and round.objectives is not empty ) ? true : false %}
{% set grid =  round.grid %}

<div id="game-container" style="display:none">
    <div id="topbar">
        <div id="clock-container">
            <span id="clock"></span>
        </div>
        <div id="combo" style="display:none">
            <span >{{ "current_combo" | trans}} <span id="combo-count">0</span></span>
        </div>
        <span id="woot-container">
            <span id="woot" style="display:none"></span>
        </span>
    </div>
    <div id="main" class="row">
        {# GRID #}
        <div id="grid-container" class="col-xs-12 col-sm-12 col-md-6">
            {% include "MagicWordBundle:Round/Play:grid.html.twig" %}
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6">
        {# {% include "MagicWordBundle:Round/Play:rules.html.twig" %} #}

        {# OBJECTIVES #}
        {% include "MagicWordBundle:Round/Play:objectives.html.twig" %}
        {# INFLECTIONS FOUND #}
        {% include "MagicWordBundle:Round/Play:found.html.twig" %}
        </div>
    </div>
    <div class="row">
        {# SOUND
        {% include "MagicWordBundle:Round/Play:sound.html.twig" %}
        #}
    </div>
</div>

<script>
var gridJSON = {{ grid | json_encode()|raw }};
var roundJSON = {{ round | json_encode()|raw }};
var assetsBaseDir = "{{ asset('.') }}";
</script>
{% endblock %}

{% block javascripts -%}
<script type="text/javascript" src="{{ asset('/js/play.js') }}"></script>
{% endblock %}
