{% extends '::base.html.twig' %}

{% block title %}PLAY ROUND{% endblock %}

{% block body -%}

{% set hasObj = (round.objectives is defined and round.objectives is not empty ) ? true : false %}
{% set grid =  round.grid %}

<div id="game-container" style="display:none">
    <div class="row">
        {# CLOCK #}
        {% include "MagicWordBundle:Round/Play:clock.html.twig" %}
        {# CLOCK #}
        {% include "MagicWordBundle:Round/Play:woot.html.twig" %}
    </div>
    <div class="row">
        {# GRID #}
        {% include "MagicWordBundle:Round/Play:grid.html.twig" %}
        {# OBJECTIVES #}
        {% include "MagicWordBundle:Round/Play:objectives.html.twig" %}
        {# INFLECTIONS FOUND #}
        {% include "MagicWordBundle:Round/Play:found.html.twig" %}
    </div>
</div>

<script>
var gridJSON = {{ grid | json_encode()|raw }};
var roundJSON = {{ round | json_encode()|raw }};
var wordLengthPoints = {{ getWordLengthPoints() | json_encode()|raw }};
var letterPoints = {{ getLetterPoints(round.game.language) | json_encode()|raw }};
</script>
{% endblock %}

{% block javascripts -%}
<script type="text/javascript" src="{{ asset('/js/play.js') }}"></script>
{% endblock %}
