<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-tachometer" aria-hidden="true"></i> {{ 'combos' | trans }}
        <span class="pull-right">
            <span class="btn btn-default btn-xs" onclick="addCombo()" >
                <i class="fa fa-plus" aria-hidden="true"></i>
                {{ 'add_combo' | trans }}
            </span>
            <button type="button" class="btn btn-default  btn-xs" data-toggle="modal" data-target="#helper-combos">
                <i class="fa fa-eye" aria-hidden="true"></i>
                {{ 'see_combos' | trans }}
            </button>
        </span>
    </div>
    <div class="panel-body">
            <ul class="list-group" id="combos" data-prototype="{{ _self.combos_prototype(form.combos.vars.prototype)|e }}">
            {% for combo in form.combos %}
    		      {{ _self.combos_prototype(combo) }}
    	    {% endfor %}
            </ul>
        <span class='btn btn-primary pull-right' onclick="saveObjectives()">{{ 'save_objectives' | trans }}</span>
    </div>
</div>

{% macro wordToFind(word, hint) %}
<li class="list-group-item">
    <input required type="text" class="word" value="{{ word }}" pattern="[A-Za-z]+" placeholder="mot" />
    <input required type="text" class="def" value="{{ hint }}" placeholder="indice" />
    <span class="pull-right">
        <span class="btn btn-default">
            <i class="fa fa-wikipedia-w" aria-hidden="true"></i>
        </span>
        <span class="btn btn-danger word-remove">
            <i class="fa fa-times" aria-hidden="true"></i>
        </span>
    </span>
</li>
{% endmacro %}

{% macro combos_prototype(combo) %}
<li class="list-group-item combo">
    {{ form_widget(combo.number) }}
    {{ form_widget(combo.lenght) }}

    <span class="pull-right">
        <span class="btn btn-danger word-remove">
            <i class="fa fa-times" aria-hidden="true"></i>
        </span>
    </span>
</li>
{% endmacro %}
