{% extends '::base.html.twig' %}

{% block title %}Massive Builder{% endblock %}

{% block body -%}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            {{ 'massive' | trans }} {{ massive.id }} - {{ massive.name }}
        </h4>
    </div>
    <div class="panel-body">
        <h4>{{ 'language' | trans }}</h4>
        {{ massive.language.name }}

        <h4>{{ 'round' | trans }} ({{ massive.rounds|length }})
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-plus" aria-hidden="true"></i> {{ 'add_round' | trans }}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ path('massive_add_rush', {"id":  massive.id}) }}">{{ 'rush' | trans }}</a>
                    </li>
                    <li>
                        <a href="{{ path('massive_add_conquer', {"id":  massive.id}) }}">{{ 'conquer' | trans }}</a>
                    </li>
                </ul>
            </div>
        </h4>

        <ul class="list-group">
            {% for round in massive.rounds %}
                <li class="list-group-item">
                    {{ round.displayOrder + 1 }} - {{ round.discr }}

                    <span class="pull-right">
                    {% if round.discr == "rush" and round.grid %}
                        <a class="btn btn-default btn-xs" href="{{ path('rush', {"id": round.id }) }}">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            {{ 'see_grid' | trans }}
                        </a>
                    {% else %}
                        <a class="btn btn-default btn-xs" href="{{ path('conquer', {"id": round.id }) }}">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            {{ 'edit_round' | trans }}
                        </a>
                    {% endif %}

                    {% if round.grid %}
                    <a class="btn btn-default btn-xs" href="{{ path('round_play', {"id": round.id }) }}">
                        <i class="fa fa-gamepad" aria-hidden="true"></i>
                        {{ 'play' | trans }}
                    </a>
                    {% endif %}

                    <a class="btn btn-default btn-xs btn-danger" href="{{ path('massive_remove_round', {"massiveId": massive.id, "roundId": round.id }) }}">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                    </span>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
