{% extends '::base.html.twig' %}

{% block title %}Massive Builder{% endblock %}

{% block body -%}
    <h1>Builder pour Massive
        {{ massive.id }}</h1>

    <h3>Publique ?</h3>
    {{ massive.public ? "oui" : "non" }}

    <h3>Author</h3>
    {{ massive.author }}

    <h3>Language</h3>
    {{ massive.language.name }}

    <h3>Manches ({{ massive.rounds|length }})
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-plus" aria-hidden="true"></i> Ajouter une manche
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('massive_add_rush', {"id":  massive.id}) }}">
                        Rush
                    </a>
                </li>
            </ul>
        </div>
    </h3>

    <ul class="list-group">
        {% for round in massive.rounds %}
            <li class="list-group-item">
                {{ round.displayOrder }}
                {% if round.discr == "rush" and round.grid %}
                    <a class="btn btn-default btn-sm" href="{{ path('grid', {"id": round.grid.id }) }}">
                        Voir la grille
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
