{% extends '::base.html.twig' %}

{% block title %}{{ 'massives' | trans }}{% endblock %}

{% block body -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>{{ 'massives' | trans }}</h4>
        </div>
        <ul class="list-group">
            {% for massive in massives if massive not in app.user.endedGames and massive.author != app.user %}
            <li class="list-group-item">
                <a href="{{ path('massive_play', {"id": massive.id}) }}">
                    {{ massive.name }} <span class="text-muted">({{ massive.description }})</span>
                </a>
                <span class="pull-right">
                    {% for round in massive.rounds %}
                        <span class="text-muted">{{ round.displayOrder + 1 }}.{{round.discr }} </span>
                    {% endfor %}
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
