{% extends '::base.html.twig' %}

{% block title %}{{ 'massives' | trans }}{% endblock %}

{% block body -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                {{ 'massives' | trans }}
                <span class="pull-right">
                   <button type="button" class="btn btn-default btn-xs" data-order="asc" onclick="sorter.sort('popularity', this, '.games', '.game')">
                       <i class="fa fa-sort" aria-hidden="true"></i> {{ "popularity" | trans }}
                   </button>
                   <button type="button" class="btn btn-default btn-xs" data-order="asc" onclick="sorter.sort('roundCount', this, '.games', '.game')">
                       <i class="fa fa-sort" aria-hidden="true"></i> {{ "roundCount" | trans }}
                   </button>
                   <button type="button" class="btn btn-default btn-xs" data-order="asc" onclick="sorter.sort('author', this, '.games', '.game')">
                       <i class="fa fa-sort" aria-hidden="true"></i> {{ "author" | trans }}
                   </button>
                   <button type="button" class="btn btn-default btn-xs" data-order="asc" onclick="sorter.sort('date', this, '.games', '.game')">
                       <i class="fa fa-sort" aria-hidden="true"></i> {{ "date" | trans }}
                   </button>
                   {% include "MagicWordBundle:Common:backtohome.html.twig" %}
                </span>
            </h4>
        </div>
        <div class="panel-group games" id="accordion" role="tablist" aria-multiselectable="true">
            {% for massive in massives if massive not in app.user.endedGames and massive not in app.user.startedGames and massive.author != app.user %}
                {% set popularity = getActivityCount(massive) %}
                {% set roundCount =  massive.rounds|length %}
                <div data-roundcount="roundCount" data-popularity="{{ popularity }}" data-author="{{ massive.author }}" data-date="{{ massive.publishDate|date('Y-m-d H:i:s') }}" class="panel panel-default game">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            "{{ massive.name }}" {% if massive.description %}<span class="text-muted">({{ massive.description}})</span>{% endif %}
                            par <a href="{{ path('profile', {"id":  massive.author.id}) }}">{{ massive.author }}</a>
                            <span class="pull-right">
                                <span class="label label-info">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    <span class="hidden-xs"> {{ "popularity" | trans }}:</span> {{ popularity }}
                                </span> &nbsp;
                                <a class="btn btn-default btn-xs" role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ massive.id }}" aria-expanded="true" aria-controls="{{ massive.id }}">
                                    <i class="fa fa-info" aria-hidden="true"></i>
                                    <span class="hidden-xs">Infos</span>
                                </a>
                                <a class="btn btn-default btn-xs" href="{{ path('massive_play', {"code": massive.code}) }}">
                                    <i class="fa fa-gamepad" aria-hidden="true"></i>
                                    <span class="hidden-xs">Jouer</span>
                                </a>
                            </span>
                        </h4>
                    </div>

                    <div id="{{ massive.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <ul class="list-group" >
                            {% for i, round in massive.rounds %}
                            <li class="list-group-item">
                                <span class="label label-default">{{ round.discr | trans }}</span>
                                <span class="label label-default">{{ round.language.name | trans }}</span>
                                {% set order = i + 1 %}
                                {{ round.title ? round.title : "round" | trans  ~ " " ~ order }}
                                <span class="text-muted">{{ round.description ? "(" ~ round.description ~ ")" }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}
