{% extends '::base.html.twig' %}

{% block title %}{{ 'my_massives_under_construction' | trans }}{% endblock %}

{% block body -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                {{ 'my_massives_under_construction' | trans }}
                <span class="pull-right">
                    {% include "MagicWordBundle:Common:backtohome.html.twig" %}
                </span>
            </h4>
        </div>
        <ul class="list-group">
            {% for massive in massives %}
            <li class="list-group-item">
                <a href="{{ path('massive_builder', {"id": massive.id}) }}">
                    {{ massive.name }} <span class="text-muted">({{ massive.description }})</span>
                    {% if massive.description %}<span class="text-muted">({{ massive.description}})</span>{% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
