{% extends '::base.html.twig' %}

{% block title %}{{ 'my_massives_published' | trans }}{% endblock %}

{% block body -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                {% include "MagicWordBundle:Common:backtohome.html.twig" %}
                {{ 'my_massives_published' | trans }}
            </h4>
        </div>
        <ul class="list-group">
            {% for massive in massives %}
            <li class="list-group-item">
                <a href="{{ path('massive_summary', {"id": massive.id}) }}">
                    {{ massive.name }} {% if massive.description %}<span class="text-muted">({{ massive.description}})</span>{% endif %}
                </a>
                <span class="pull-right">
                    <span class="label label-info">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span class="hidden-xs"> {{ "popularity" | trans }}:</span> {{ getActivityCount(massive) }}
                    </span>&nbsp;
                    <span class="label label-default">
                        {{ massive.accessType.name | trans }}
                        <a class="btn btn-default btn-xs" data-html="true" data-trigger="click" data-toggle="popover" data-container="body" data-placement="left" title="Lien partie"
                            data-content="<input type='text' value='{{ app.request.scheme ~'://' ~ app.request.httpHost ~ path('massive_play', {"code": massive.code})}}'/>">
                            <i class="fa fa-link" aria-hidden="true"></i>
                        </a>
                    </span>
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
