{% extends '::base.html.twig' %}

{% block title %}{{ 'my_massives_published' | trans }}{% endblock %}

{% block body -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>{{ 'my_massives_published' | trans }}</h4>
        </div>
        <ul class="list-group">
            {% for massive in massives %}
            <li class="list-group-item">
                <a href="{{ path('massive_ranking', {"id": massive.id}) }}">
                    {{ massive.name }} <span class="text-muted">({{ massive.description }})</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
