{% extends '::base.html.twig' %}

{% block title %}Massive ranking{% endblock %}

{% block body -%}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            {% include "MagicWordBundle:Common:backtohome.html.twig" %}
            {{ "summary" | trans }} <strong>{{ massive.name }}</strong>
            <span class="pull-right">
                <span class="btn btn-default" onclick="builder.export({{massive.id}})">
                    <i class="fa fa-clipboard" aria-hidden="true"></i>
                    Exporter la partie
                </span>
            </span>
        </h4>
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs" role="tablist">
           <li role="presentation" class="active"><a href="#ranking" aria-controls="rounds" role="tab" data-toggle="tab">{{ "ranking" | trans }}</a></li>
           <li role="presentation"><a href="#rounds" aria-controls="rounds" role="tab" data-toggle="tab">{{ "rounds" | trans }}</a></li>
         </ul>

         <div class="tab-content">
             <div role="tabpanel" class="tab-pane active" id="ranking">
                 {% include "MagicWordBundle:Game/Massive/partials:ranking.html.twig" %}
             </div>
             <div role="tabpanel" class="tab-pane" id="rounds">
                {% include "MagicWordBundle:Game/Massive/partials:rounds.html.twig" %}
             </div>
         </div>
    </div>
</div>

{% include "MagicWordBundle:Game/Massive/partials:export-modal.html.twig" %}
{% endblock %}


{% block javascripts -%}
<script type="text/javascript" src="{{ asset('/js/translations.js')}}"></script>
{% endblock %}
