{% extends '::base.html.twig' %}

{% block body -%}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            <a class="btn btn-default" href="{{ path('found', {id: language.id}) }}">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                {{ "found" | trans }}
            </a>
            {{ foundableForm.form }} - {{ language.name | trans }}
        </h4>
    </div>
    <div class="panel-body">
        {% set percentFound = (foundCount / userCount * 100) | round(0) %}
        <div class="alert alert-info" role="alert">
            {{ "found_by_percent"|trans({'%percent%': percentFound}) }}
        </div>
        {% for inflection in foundableForm.inflections %}
        {% set lemma = inflection.lemma %}
        <li class="list-group-item">
            {{ inflection.content }}
            (
            <a href="{{ path('lemma', {"id":  lemma.id }) }}">
                {{ lemma.content }}
            </a>
            - <span class="text-muted">{{ lemma.category ? lemma.category.value | trans }}</span>
            )
            <span class="pull-right">
                <span class="btn btn-default btn-xs" onClick="wiktionnary.getDef('{{ lemma.content }}', '{{ language.name |slice(0,2) }}')">
                    <i class="fa fa-wikipedia-w" aria-hidden="true"></i>
                </span>
                {% if isInWordbox(lemma) == false %}
                <span class="btn btn-default btn-xs" onclick="addToWordbox({{ lemma.id }}, this);">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </span>
                {% endif %}
            </span>
        </li>
        {% endfor %}
    </div>
</div>
{% endblock %}
