{% extends '::base.html.twig' %}

{% block body -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                {% include "MagicWordBundle:Common:backtohome.html.twig" %}
                {% set foundCount = found|length %}
                {% set percent =  foundCount/foundable * 100 %}

                {{ 'found' | trans }} <strong>{{ language.name | trans }}</strong> ({{ foundCount }} / {{ foundable }} {{ "being"|trans}} {{ percent|round(4) }}%)

                <span class="pull-right">
                   <button type="button" class="btn btn-default btn-xs" data-order="asc" onclick="sorter.sort('form', this, '#found', '#found li')">
                       <i class="fa fa-sort" aria-hidden="true"></i> A-Z
                   </button>
                   <button type="button" class="btn btn-default btn-xs" data-order="asc" onclick="sorter.sort('points', this, '#found', '#found li')">
                       <i class="fa fa-sort" aria-hidden="true"></i> Points
                   </button>
                   <button type="button" class="btn btn-default btn-xs" data-order="asc" onclick="sorter.sort('length', this, '#found', '#found li')">
                       <i class="fa fa-sort" aria-hidden="true"></i> Longueur
                   </button>
                </span>
            </h4>
        </div>
        <ul class="list-group" id="found">
        {% for foundform in found %}
            <li class="list-group-item" data-form="{{ foundform.form }}" data-points="{{ foundform.points }}" data-length="{{ foundform.form|length }}">
                <a href="{{ path('form_details', {formId: foundform.id, languageId: language.id }) }}">{{ foundform.form }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
