{% extends '::base.html.twig' %}

{% block title %}{{ 'challenge_sent' | trans }}{% endblock %}

{% block body -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                {{ 'challenge_sent' | trans }}
                <span class="pull-right">
                    {% include "MagicWordBundle:Common:backtohome.html.twig" %}
                </span>
            </h4>
        </div>
        <ul class="list-group">
        {% for challenge in challenges %}
            <li class="list-group-item">{{ 'to' | trans }} {{ challenge.challenged.username }} - {{ challenge.date|date("m/d/Y") }}
                <span class="text-muted">({{ challenge.message | truncate(50, true, "...")}})</span>
                <span class="pull-right">
                    {% if challenge.rounds|length > 1 %}
                    <a class="btn btn-default btn-xs" href="{{ path('challenge_continue', {"id":  challenge.id}) }}">
                        <i class="fa fa-gamepad" aria-hidden="true"></i>
                        {{ "play" | trans}}
                    </a>
                    {% else %}
                    <a class="btn btn-default btn-xs" href="{{ path('challenge_cancel', {"id":  challenge.id}) }}">
                        <i class="fa fa-ban" aria-hidden="true"></i>
                        {{ "cancel" | trans}}
                    </a>
                    {% endif %}
                </span>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
