{% extends '::base.html.twig' %}

{% block title %}{{ 'challenge_received' | trans }}{% endblock %}

{% block body -%}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>{{ 'challenge_received' | trans }}</h4>
    </div>
    <ul class="list-group">
    {% for challenge in challenges %}
        <li class="list-group-item">{{ 'from' | trans }} {{ challenge.author.username }} - {{ challenge.date|date("m/d/Y") }}
            <span class="text-muted">({{ challenge.message | truncate(50, true, "...")}})</span>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
